body{
    /*font: 20px Arial, sans-serif;/* Ver de mudar ou tirar pq eu n curti muito*/
    /*width: 100%;
    height: 100%;
    margin: 0 auto;*/
}

h3{
    text-transform: capitalize;
}

h4{
    text-transform: capitalize;
}

.nao_capitalize{
    text-transform: none;
    text-align: left;
}

.justificar_texto{
    text-align: justify;
}

.esquerda_texto{
    text-align: left;
}

.navbar{
    background-color: #FDFEFE;
    margin: auto;
}

.logo{
    max-width: 30%;
    margin-right: 0px;
}

.logodefato{
    padding-left: 20%;
}

.nav-item:hover{
    border-bottom: 1px solid #1e8449;
}

.meunome{
    max-width: 50%;
    font-family: system-ui, -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #1e8449;
    padding-left: 2%;
}

.navbar-nav{
    max-width: 50%;
    padding-left: 2%;
}

.nav-link:hover{
    color: #1e8449;
}

.Sobre_mim{
    /*background-color: #1E8449;*/
    background-image: url('../img/pexels-sobremim.png');
    color: white;
}

.margin{
    padding-top: 40px;
    padding-bottom: 40px;
}

.margin-titulo-analisdados{
    padding: 10px 0 40px 0;
}

.margin-lateral{
    /*padding-left:10px;padding-right: 10px;padding-bottom:10px;*/
    padding:5px;
}
/*______________PORTFOLIO_____________________*/

.Portfolio{
    background-color: white;
    color: #1E8449;
}

.card_pag_inicial{
    transition: all 0.5s;
    cursor: pointer;
}

.card_pag_inicial:hover{
    transform: scale(1.1);
}

.link_nome{color: #1E8449;text-decoration: none;}
.link_nome:hover{color: #1E8449;}
.link_portfolio{color: #1E8449;text-decoration: none;}
.link_portfolio:hover{color: #1E8449;}
/*_______________CONTATO__________________*/

.Contato{
    background-color: #1e8449;
    color: white;
}

.col-lg-4 a{
    color: white;
    text-decoration: none;
}

.col-lg-4 a:hover{
    color: #D5D8DC;
    font-size: 16px;
}

.sombra{
    transition: all 0.5s;
    cursor: pointer;
}

.sombra:hover{
    transform: scale(1.1);
}
/*_____________________FOOTER______________________*/

.bg-footer{
    background-color: #1e8449;
    color:  white;
    margin: auto;
}

.Desenvolvido_por_link{color: white;text-decoration: none;}
.Desenvolvido_por_link:hover{color:white;}