body{
    /*font: 20px Arial, sans-serif;/* Ver de mudar ou tirar pq eu n curti muito*/
}

h3{
    text-transform: capitalize;
}

.navbar{
    background-color: #FDFEFE;
    margin: auto;
}

.logo{
    max-width: 20%;
    margin-right: 0px;
}

.logodefato{
    padding-left: 25%;
}

.nav-item:hover{
    border-bottom: 1px solid #1e8449;
}

.meunome{
    max-width: 50%;
    font-family: system-ui, -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #1e8449;
    padding-left: 2%;
}

.tamanho_item{
    margin-right:
}

.navbar-nav{
    max-width: 30%;
    padding-left: 2%;
}

.nav-link:hover{
    color: #1e8449;
}

.Sobre_mim{
    background-color: #1E8449;
    color: white;
}

.margin{
    padding-top: 40px;
    padding-bottom: 40px;
}

.Portfolio{
    background-color: white;
    color: #1E8449;
}

.Contato{
    background-color: #1e8449;
    color:  white;
}

.bg-footer{
    background-color: #1e8449;
    color:  white;
    margin: auto;
}