*{font-family:'Open Sans',sans-serif;margin:0;padding:0;}
a{text-decoration: none;}
ul{list-style:none;}
header{display:flex;align-items:center;width:100%;/*background:#00000080;/*background-color:#774936;*/color:whitesmoke;height:80px;/*position:fixed;*/} /*#774936*/

.bt{
    display: block;
    background-color: #00000080;
    color:whitesmoke;
    width: 100px;
    height:25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50px;
}

.flex-container{
    display: flex;
    max-width: 998px;
    width: 100%;
    margin: auto;
}

.nav-bar{
    justify-content: space-between;
}

.menu-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 260px;
    width:100%;
    margin-top: 5px;
}

.menu-nav-bar a{
    color: whitesmoke;
}

.menu-nav-bar a:hover{
    color: #9C9C9C; 
    transition: 0.5s;
    opacity: 0.7;
}

.introducao{
    display:flex;
    height: 100vh;
    flex-direction:column;
    justify-content: center;
    background-image: url("../img/pexels-sobremim.png");
    color:whitesmoke;
}

.flex-container-introducao{
    flex-direction:column;
    align-items: center;
}

.flex-container-introducao h2{
    margin-bottom:10px;
}

.itens-contato-introducao{
    display:flex;
    align-items: center;
    justify-content: space-around;
    max-width: 320px;
    width:100%;
    margin-top: 10px;
    margin-bottom:10px;
}

.sombra{
    transition: all 0.5s;
    cursor: pointer;
}

.sombra:hover{
    transform: scale(1.1);
}

.rounded-circle{
    border-radius:50%;
    height:100px;
    width:100px;
    margin-bottom:10px;
}

#about-me{ 
    height: 40vh;
}

.flex-container-apresentacao{
    margin-top: 30px;
    flex-direction: column;
    max-width: 600px;
    width:100%;
}

.flex-container-apresentacao h2{
    margin-bottom: 20px;
    color: #621708;
}

#portfolio{
    height: 120vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:2;
}

.list-projects{
    flex-direction: column;
    align-items: center;
}

.titulo-top-proj{
    display:flex;
    width:100%;
    justify-content: center;
    align-items:center;
    color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.87);
    /*background-image: url("../img/pexels-sobremim.png");*/
    height:150px;
}

.top-projects{
    justify-content: space-around;
    margin-bottom: 50px;
}

.itop-projects{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    margin-right: 10px;
    flex:2;
    padding:10px;
    margin-bottom:20px;
    color: whitesmoke;
    justify-content: space-between;
}

.itop-projects h4{
    margin-bottom:10px;
}

.itop-projects p{
    margin-bottom:10px;
}

.IMTRP{
    background-color: #621708;
}

.IMTRP img{
    align-self:center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ADP{background-color: #941b0c;}

.ADP img{
    align-self:center;
    margin-top: 5px;
    margin-bottom: 8px;
}

.SGI{background-color: #bc3908;}

.SGI img{align-self: center;}

.CDA{background-color: #f6aa1c;}

.CDA img{
    align-self: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.sombra-tprojects:hover{
    transition: 0.5s;
    opacity: 0.7;
}

.timeline{
    display:flex;
    flex-direction: column;
    width:100%;
}

.timeline h2{
    align-self: center;
    margin-bottom: 20px;
}

.timeline-circle{
    border-radius: 50px;
}

.timelines{
    justify-content: space-between;
    margin-right:10px;
    padding: 15px;
}

.timelines p{
    margin-right:20px;
    align-self: center;
    font-size: 13px;
    font-weight: 600;
    margin:0;
    padding:0;
}

.timelines img{
    margin-right:20px;
    align-self: center;
}

.timelines div{
    margin-right:20px;
}

.img-texto{
    display:flex;
    padding: 10px;
}

.itimeline{
    display: flex;
    flex:4;
    flex-direction:column;
    width:50%;
}

.container-contact{
    display:flex;
    background-image: url("../img/pexels-sobremim.png");
    color: whitesmoke;
    height:50vh;
    align-items: center;
}
.contact{
    flex-direction: column;
    align-items: center;
}

.contact h2{
    margin-bottom: 50px;
}

.icontact{
    display:flex;
    justify-content: space-between;
}

.icontact a{
    color: whitesmoke;
    margin-right: 10px;
}


#sitemap{
    display:flex;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.87); /*rgba(0, 0, 0, 0.87); | #1b1b1b*/
    color: whitesmoke;
}

.clsitemap{
    max-width:1100px;
    align-items:center;
    justify-content:flex-start;
    padding: 10px;
}

.c-sitemap{
    flex-direction:column;
}

.c-sitemap p{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}

.ct-sitemap{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.ct-sitemap li{
     margin-bottom: 5px;
}

.ct-sitemap li a{
    color:whitesmoke;
    font-size:15px;
}

footer{
    display: flex;
    color: whitesmoke;
    padding-top:5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    justify-content:flex-end;
}

.ftexto{
    display:flex;
    justify-content:flex-end;
    padding: 10px;
}

.ftexto p{
    font-size:15px;
}