*{font-family:'Open Sans',sans-serif;margin:0;padding:0;}
a{text-decoration: none;}
ul{list-style:none;}
header{display:flex;align-items:center;width:100%;/*background:#00000080;/background-color:rgba(0, 0, 0, 0.90);*/color:whitesmoke;height:60px;/*position:fixed;*/} /*#774936*/
.o1{order:1;}.o2{order:2;}

.bt{
    display: block;
    background-color: #00000080;
    color:whitesmoke;
    width: 100px;
    height:25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50px;
}

.flex-container{
    display: flex;
    max-width: 998px;
    width: 100%;
    margin: auto;
}

.nav-bar{
    justify-content: space-between;
}

.nav-bar h2{
    font-size: 22px;
}

.menu-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 270px;
    width:100%;
    margin-top: 5px;
}

.menu-nav-bar a{
    color: whitesmoke;
}

.menu-nav-bar a:hover{
    /*color: #9C9C9C;*/
    border-bottom: 1px solid #00acff; 
    /*transition: 0.5s;
    opacity: 0.7;*/
}
/*
.bt-nav-norm a{
    color: whitesmoke;
}

.bt-nav-norm a:hover{
    border-bottom: 1px solid #00acff; 
}

.bt-nav{
    display: block;
    width: 90px;
    height: 25px;
    background-color: #00acff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
}*/

.introducao{
    display:flex;
    height: 100vh;
    flex-direction:column;
    justify-content: center;
    background-image: url("../img/pexels-sobremim.png");
    color:whitesmoke;
}

.flex-container-introducao{
    flex-direction:column;
    align-items: center;
}

.flex-container-introducao h2{
    margin-bottom:10px;
}

.itens-contato-introducao{
    display:flex;
    align-items: center;
    justify-content: space-around;
    max-width: 320px;
    width:100%;
    margin-top: 10px;
    margin-bottom:10px;
}

.sombra{
    transition: all 0.5s;
    cursor: pointer;
}

.sombra:hover{
    transform: scale(1.1);
}

.rounded-circle{
    border-radius:50%;
    height:100px;
    width:100px;
    margin-bottom:10px;
}

#about-me{ 
    height: 40vh;
    background-color: white;
    color: rgba(0, 0, 0, 0.90);
}

.apresentacao-titulo{
    max-width: 600px;
    width:100%;
    margin-top:30px;
}

.apresentacao-titulo h2{border-bottom: 1px solid #00acff;}

.flex-container-apresentacao{
    margin-top: 30px;
    flex-direction: column;
    max-width: 600px;
    width:100%;
}

#portfolio_{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.87);
}

#portfolio{
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:2;
}

.list-projects{
    flex-direction: column;
    align-items: center;
}

.titulo-top-proj{
    display:flex;
    width:100%;
    justify-content: center;
    align-items:center;
    color:whitesmoke;
    height:150px;
}

.titulo-top-proj h2{border-bottom: 1px solid #00acff;}

.top-projects{
    justify-content: space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.itop-projects{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    margin-right: 10px;
    flex:2;
    padding:10px;
    margin-bottom:20px;
    color: whitesmoke;
    justify-content: space-between;
    box-shadow: 0 0 1em black;
    border-radius: 5px;
}

.itop-projects h4{
    margin-bottom:10px;
}

.itop-projects p{
    margin-bottom:10px;
}

.IMTRP{
    background-color: #621708;
}

.IMTRP img{
    align-self:center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ADP{background-color: #941b0c;}

.ADP img{
    align-self:center;
    margin-top: 5px;
    margin-bottom: 8px;
}

.SGI{background-color: #bc3908;}

.SGI img{align-self: center;}

.CDA{background-color: #f6aa1c;}

.CDA img{
    align-self: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.sombra-tprojects:hover{
    transition: 0.5s;
    opacity: 0.7;
}

#timeline{
    background-color: rgba(0, 0, 0, 0.87);
    height: 110vh;
}

.titulo-timeline{
    display:flex;
    justify-content: center;
    align-items:center;
    height: 150px;
    color: whitesmoke;
}

.titulo-timeline h2{border-bottom: 1px solid #00acff;}

.timeline{
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:100%;
    color: whitesmoke;
    padding: 20px;
    max-width: 1100px;
}

.timeline h2{
    align-self: center;
    margin-bottom: 20px;
}

.timeline-circle{
    border-radius: 50px;
    box-shadow: 0 0 1em #00000080;
}

.timelines{
    margin-right:10px;
    padding: 15px;
    margin-bottom: 20px;
}

.timelines p{
    margin-right:20px;
    align-self: center;
    font-size: 13px;
    font-weight: 600;
    padding:0;
}

.timelines img{
    margin-right:20px;
    align-self: center;
}

.timelines div{
    margin-right:20px;
}

.img-texto{
    display:flex;
    padding: 10px;
    width:80%;
}

.itimeline{
    display: flex;
    flex:1;
    flex-direction:column;
    width:100%;
}

.itimeline h3{
    font-size: 17.5px;
    margin-bottom: 3px;
}

.itimeline p{
    margin-top: 10px;
}

.titulo-contact{
    display:flex;
    width:100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.titulo-contact h2{
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 1px solid #00acff;
}

#contact-me{
    display:flex;
    flex-direction:column;
    height: 110vh;
    margin-bottom: 50px;
    width:100%;
}

.forms{
    max-width: 500px;
    width:100%;
    padding:10px;
}

#contact-me main{
    padding:15px;
    background-color: rgba(0, 0, 0, 0.87);
    height: 500px;
    /*flex-wrap:wrap;*/
    box-shadow: 0 0 1em #00000080;
    border-radius: 5px;
}

.campos-forms{
    display:flex;
    flex-direction: column;
}

.field{
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius: 5px;
}

label{
    margin-bottom: 10px;
    color:whitesmoke;
}

textarea{
    height: 150px;
    min-height: 13rem;
    resize:vertical;
}

.container-contact{
    display:flex;
    color: whitesmoke;
    /*align-items: center;*/
    max-width:500px;
    width: 100%;
    padding:10px;
    height:500px;
}

.contact{
    flex-direction: column;
    max-width:500px;
    align-items: center;
    height:500px;
    padding: 15px;
    /*justify-content:space-between;*/
}

.contact h2{
    margin-bottom:10px;
    font-size: 32px;
    align-self: flex-start;
    border-bottom: 1px solid #00acff;
}

.text-forms{
    margin-bottom: 100px;
}

.text-forms p{
    font-size:20px;
}

.socialmedia{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.socialmedia h4{
    font-weight: 600;
    font-size: 24px;
    /*margin-bottom: 50px;*/
    align-self: center;
    margin: 50px;
}

.icontact{
    display:flex;
    /*justify-content: space-between;/* Tem que redimensionar os icones e deixa-los com tamanho padronizado*/
    max-width: 500px;
    max-height: 200px;
    justify-content:space-between;
}

.icontact a{
    color: whitesmoke;
    margin-right: 30px;
}

.icontact li{
    margin:0;
    padding:0;
}

.s-insta{align-self: flex-end;}

.s-email{align-self: flex-end;}

.bt-forms{
    width: 500px;
    height:30px;
    border-radius: 5px;
    background-color: #00acff;
    align-self: center;
    text-transform: uppercase;
    border:none;
    cursor:pointer;
    transition:0.2s;
}

#sitemap{
    display:flex;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.87); /*rgba(0, 0, 0, 0.87); | #1b1b1b*/
    color: whitesmoke;
    height: 190px;
}

.clsitemap{
    align-items:center;
    justify-content:flex-start;
    padding: 20px;
}

.c-sitemap{
    flex-direction:column;
}

.c-sitemap p{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 26px;
}

.ct-sitemap{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.ct-sitemap li{
     margin-bottom: 5px;
}

.ct-sitemap li a{
    color:whitesmoke;
    font-size:16px;
    color: #00acff;
}

footer{
    display: flex;
    color: whitesmoke;
    padding-top:5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    justify-content:flex-end;
}

.ftexto{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.ftexto p{
    font-size:15px;
}

.ftexto a{
    color:#00acff;
}