body{
    background-color: #f8f8ff;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.fotoeu{
    border-radius: 50px;
    border: 3px solid #505050;
    margin-top: 15px;
}

#title, .subtitle,.postitle{
    color: #505050;
}

#title{
    font-size: 10;
    text-transform: uppercase;
}

a{
    text-decoration: line-through; /*Linha ao centro*/
    color: #505050;
}

.postitle{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background-color: #fffafa;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.postcontent{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.image{
    margin-bottom: 15px;
    width: 100%;
}

.lista{
    list-style-type: none;
    padding-left: 15px;
}

.lista li a{
    text-decoration: none;
}